# module = RQ Mod
# desc=修改 RQ 的VIP状态
# author = 𝙯𝙯𝙩𝙪𝙧𝙣
# url = https://github.com/zzturn/Miscellaneous/raw/master/QuantumultX/rq/rq.snippet


^https:\/\/www\.rq\.run\/user\/record\/info\?id=\d+.* url response-body const VIP\s*=\s*([^;]+); response-body const VIP = 1;
^https:\/\/api\.rq\.run\/Api\/(User\/(runLevel|get_user_info)|Workout\/get_user_workout_now) url script-response-body https://github.com/zzturn/Miscellaneous/raw/master/QuantumultX/rq/rq.js

hostname = api.rq.run, www.rq.run